name: Docker Scan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  docker-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t my-pedagogical-image .

      - name: Scan Docker image and generate reports
        id: scan
        run: |
          # Générer scan JSON
          docker scan my-pedagogical-image --json > scan-report.json || true
          # Générer scan TXT
          docker scan my-pedagogical-image > scan-report.txt || true
          
          # Vérifier si le scan détecte des vulnérabilités critiques
          if grep -q '"severity": "critical"' scan-report.json; then
            echo "Vulnerability detected"
          else
            echo "No vulnerability detected"
          fi
